h3 {
    color: #0b7d14;
    border: 2px solid #ff0000;
    background-color:#808080;
}
p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight:bold;
}
