.sutun {
    font-size: 20px;
    
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;
    
    -webkit-column-rule-style: solid;
    -moz-column-rule-style: solid;
    column-rule-style: solid;
    
    -webkit-column-rule-width: 2px;
    -moz-column-rule-width: 2px;
    column-rule-width: 2px;
    
    -webkit-column-rule-color: red;
    -moz-column-rule-color: red;
    column-rule-color: red;
    
    -webkit-column-rule: 4px solid red;
    -moz-column-rule: 4px solid red;
    column-rule: 4px solid red;
    
    -webkit-column-width: 200px;
    -moz-column-width: 200px;
    column-width: 200px;
}

    .sutun h2 {
        -webkit-column-span: all;
        column-span: all;
    }
