.item1{grid-area:header}
.item2 {grid-area: menu1}
.item3 {grid-area: main}
.item4 {grid-area: right1}
.item5 {grid-area: footer}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'menu1 main main main right1 right1'
        'menu1 footer footer footer footer footer';
    grid-gap:10px;
    background-color:#2196F3;
    padding:10px;
}

.grid-container > div{
    background-color:rgba(255,255,255,.8);
    text-align:center;
    padding:20px 0;
    font-size:32px;
}